body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.container {
    display: flex;
}

.sidebar {
    margin: 0;
    padding: 2%;
    width: 25vw;
    height: 100vh;
    background-color: #0CBABA;
    position: fixed;
    color: white;
}

.sidebar .brand {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: 'Rochester', cursive;
    text-align: center;
    display: block;
}

.sidebar li {
    list-style: square;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar-header {
    color: purple;
}

.content {
    padding: 15px 15px 15px 40vw;
    justify-content: center;
}

.card-img-top {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
}

.card-img-top-detail {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 15px 5px 0;
    padding: 5px;
    height: 300px;
}

.blog-list-container {
    width: 50vw;
    height: 50vh;
    padding: 3%;
}

.tags {
    font-size: .8rem;
    display: flex;
}

.tag-item {
    text-decoration: none;
    border: 1px solid purple;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    margin: -6px 2px;
}

.date {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: grey;
}

.post-title {
    text-decoration: none;
    font: 1.3em sans-serif;
    font-weight: bolder;
    color: #0CBABA;
}

.post-title-detail {
    text-decoration: none;
    font-weight: bolder;
    color: #0CBABA;
}

.post-content {
    display: flex;
}

.post-body {
    padding: 10px;

}

.post-body-detail {
    padding: 10px;
    margin-right: 20px;
    text-align: justify;
}

.pagination {
    text-align: center;
    bottom: 0;
    margin-top: 35%;

}

.fa-chevron-circle-right .fa-chevron-circle-left {
    color: purple;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;

}

.info .author {
    font-weight: bolder;
    color: purple;
}

.fa-user-circle {
    color: purple;
    margin: 2px;
}

.detail-header {
    color: purple;
}

.similar-posts {
    text-decoration: none;
    color: #0CBABA;
}

.share {
    text-decoration: none;
    color: purple;
}

.uk-button-default {
    background-color: #0CBABA;
    color: #fff;
    font-weight: 1.3em;

}

.general-title {
    color: #0CBABA;
}

.general-paragraph {
    color: purple;
}

.general-paragraph-link {
    text-decoration: underline;
    color: purple !important;
}