body {
    margin: 0;
    font-family: 'Baskervville', serif;
}

.container {
    display: flex;
}

.sidebar {
    margin: 0;
    padding: 2%;
    width: 25vw;
    height: 100vh;
    justify-content: center;
    background-color: #0CBABA;
    position: fixed;
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: none;

}

.sidebar li {
    list-style: square;

}

.sidebar .brand {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rochester', cursive;
}

.content {
    padding: 15px 15px 15px 40vw;
    justify-content: center;
}

.card-img-top {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
}

.blog-list-container {
    width: 50vw;
    height: 50vh;
    padding: 3%;
}

.tags {
    font-size: .8rem;
}

.tag-item {
    text-decoration: none;
    border: 1px solid purple;
    padding: 5px;
    border-radius: 5px;
    color: purple;
}

.date {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: grey;
}

.post-title {
    text-decoration: none;
    font: 1.3em sans-serif;
    font-weight: bolder;
    color: #0CBABA;
}

.post-content {
    display: flex;
}

.post-body {
    padding: 10px;
}