/* General */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/* Ui-kit */

.uk-card-default .uk-card-title {
    text-decoration: none;
    font: 1.3em sans-serif;
    font-weight: bolder;
    color: #0CBABA;
}

.uk-button.uk-button-default.uk-button-small {
    background-color: purple;
    color: #fff;
}

.uk-heading-small {
    color: #0CBABA;
}

.uk-button.uk-button-default.uk-width-1-1.uk-margin-small-bottom {
    background-color: #0CBABA;
    color: #fff;
}

.uk-link-text {
    color: purple;
}

/* Sidebar */

.sidebar.uk-first-column {
    padding: 20px;
    background-color: #0CBABA;
    color: white;
}

.sidebar .brand {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: 'Rochester', cursive;
    text-align: center;
    display: block;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar li {
    list-style: none;
}

.sidebar-header {
    color: purple;
}

a .fas {
    color: purple;
}

/*
.uk-button-default .uk-link-heading {
    background-color: #0CBABA;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;

} */

/*

.container {
    display: flex;
}

.content {
    padding: 15px 15px 15px 40vw;
    justify-content: center;
}

.card-img-top {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
}

.card-img-top-detail {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 15px 5px 0;
    padding: 5px;
    height: 300px;
}

.blog-list-container {
    width: 50vw;
    height: 50vh;
    padding: 3%;
}

.tags {
    font-size: .8rem;
    display: flex;
}

.tag-item {
    text-decoration: none;
    border: 1px solid purple;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    margin: -6px 2px;
}

.date {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: grey;
}

.post-title {
    text-decoration: none;
    font: 1.3em sans-serif;
    font-weight: bolder;
    color: #0CBABA;
}

.post-title-detail {
    text-decoration: none;
    font-weight: bolder;
    color: #0CBABA;
}

.post-content {
    display: flex;
}

.post-body {
    padding: 10px;

}

.post-body-detail {
    padding: 10px;
    margin-right: 20px;
    text-align: justify;
}

.pagination {
    text-align: center;
    bottom: 0;
    margin-top: 35%;

}



.comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;

}

.info .author {
    font-weight: bolder;
    color: purple;
}



.detail-header {
    color: purple;
}

.similar-posts {
    text-decoration: none;
    color: #0CBABA;
}

.share {
    text-decoration: none;
    color: purple;
}



.general-title {
    color: #0CBABA;
}

.general-paragraph {
    color: purple;
}

.general-paragraph-link {
    text-decoration: underline;
    color: purple !important;
} */