{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}
Lit
{% endblock title %}

{% block content %}


    {% if tag %}
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-text-center uk-card-body">
                <h4 class='general-title'>Posts tagged with <span class="uk-button uk-button-default uk-button-small">{{ tag.name }}</span></h4>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
    <div class="uk-card uk-card-default uk-align-center">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                    <a class="uk-link-heading" href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                    <p class="uk-text-meta uk-margin-remove-top">Published {{ post.publish }} by {{ post.author }}</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <div class="uk-align-left@s">
                <img data-src="{{ post.img.url }}" width="150" height="200" alt="" uk-img>
            </div>
            <p>{{ post.body|markdown|truncatewords_html:30 }}</p>
        </div>
        <div class="uk-card-footer">
            {% for tag in post.tags.all %}
                <a class="uk-button uk-button-default uk-button-small" href="{% url "blog:post_list_by_tag" tag.slug %}"> {{ tag.name }}</a>
                {% if not forloop.last %} {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}


{% comment %} <div class="blogs">
    {% if tag %}
        <h2 class='general-title'>Posts tagged with "{{ tag.name }}":</h2>
    {% endif %}


        {% for post in posts %}
            <div class="blog-list-container">
                <div class="post-content">
                    <img class="card-img-top" src="{{ post.img.url }}" alt="">
                    <div class="post-body">
                        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
                        <h2><a class="post-title" href="{{ post.get_absolute_url }}">{{post.title}}</a></h2>
                        <p>{{ post.body|markdown|truncatewords_html:30 }}</p>
                        <p class="tags">Tags:
                        {% for tag in post.tags.all %}
                            <a class="tag-item" href="{% url "blog:post_list_by_tag" tag.slug %}"> {{ tag.name }}</a>{% if not forloop.last %} {% endif %}
                        {% endfor %}</p>
                    </div>

                </div>



            </div>

        {% endfor %}

</div> {% endcomment %}
{% include "pagination.html" with page=posts %}
{% endblock content %}
