{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baskervville|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/00b96653bc.js" crossorigin="anonymous"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/js/uikit-icons.min.js"></script>

    <!-- Custom -->
    <link href="{% static "css/blog.css" %}" rel="stylesheet">

</head>
<body>

    <div class="uk-container">

        <div class="uk-grid-collapse uk-child-width-expand@m uk-text-center" uk-grid>

            <div class="sidebar">

                <h2><a class="brand" href="{% url 'blog:post_list'%}">Lit</a></h2>
                <p>Book reviews blog.</p>
                <p> {% total_posts %} reviews so far.</p>
                <p><a href="{% url "blog:post_feed"%}">Subscribe to my RSS feed</a></p>
                <h3 class="sidebar-header">Latest reviews</h3>
                {% show_latest_posts 3 %}
                <h3 class="sidebar-header">Most commented posts</h3>
                {% get_most_commented_posts as most_commented_posts %}
                    <ul>
                        {% for post in most_commented_posts %}
                            <li class="most-commented-posts">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="content uk-padding">{% block content %}{% endblock content %}</div>

        </div>


    </div>
</body>
</html>